[Unit]
Description=Asena Service
Requires=docker.service
After=docker.service
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/docker run --rm \
    --name asena \
    --network="docker_monitoring" \
    -p 8080:8080 \
    asena:stable
ExecStop=/usr/bin/docker rm -f asena
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
